name: Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches: ["master", "main"]

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment:
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: DavidMuntean
          output_action: "readme"
          filename: "github-metrics.svg"

          base: "activity, repositories, metadata"

          config_timezone: Europe/Madrid

          plugin_languages: true
          plugin_languages_details: percentage
          plugin_languages_colors: github
          plugin_languages_threshold: 0%
          plugin_languages_ignored: "HTML,CSS"
          plugin_activity: true
          plugin_activity_days: 365
          plugin_activity_filter: all

